.btn-container {
  width: 20rem;
}
.btn-group {
  display: flex;
}
.btn {
  width: 7rem;
  height: 3rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #454545;
  color: #efefef;
  transition: 0.5s;
}
.btn-sci {
  background-color: rgb(66, 66, 66);
  color: #efefef;
  cursor: auto;
}
.btn-long {
  width: 21rem;
}
